<html>
  <head></head>
  <body>
    <h1>ERROR</h1>
    <h2>Invalid parameters.</h2>

    <p>Please enter:<br></p>
    <p>    1. A single-character true symbol</p>
    <p>    2. A single-character false symbol</p>
    <p>    3. A size greater than or equal to 2</p>
    <p>    4. Different characters for the true and false symbols.<br></p>

    <a href="/">Back to main</a>
  </body>
</html>