<html>
  <head></head>
  <body>
    <form action = '/display'>
        <p>True symbol: <input type="text" name = "ts"></p>
        <p>False symbol: <input type="text" name = "fs"></p>
        <p>Size (2^x): <input type="text" name = "size"></p>
        <p><input type="submit" value ="Show truth table"></p>
        
        <a href="/">Reload page</a>
    </form>
  </body>
</html>