<html>
  <head></head>
  <body>
    <form>
        <p>True symbol: <input type="text" name = "true_symbol"></p>
        <p>False symbol: <input type="text" name = "false_symbol"></p>
        <p>Size (2^x): <input type="text" name = "size"></p>
        <p><input type="submit" value ="Show truth table"></p>
        
        <a href="/">Reload page</a>
    </form>
  </body>
</html>